/* Garante que o html e o body não tenham rolagem horizontal */
html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Remove qualquer rolagem horizontal */
    width: 100%; /* Garante que o body não ultrapasse a largura da tela */
    height: 100%; /* Garante que o body ocupe toda a altura da tela */
    background-color: white; /* Define o fundo como branco */
}

.saudacao {
    text-align: left;
    color: black;
    font-family: Monaco, monospace;
    font-size: 30px;
    margin: 0;
}

.info {
    text-align: left;
    color: black;
    font-family: Monaco, monospace;
    font-size: 20px;
    margin-top: 2%;
}

.nome {
    text-align: left;
    color: black;
    font-family: Monaco, monospace;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.nome span {
    color: midnightblue;
    font-family: Monaco, monospace;
    font-weight: bold;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
    margin: 200px auto 100px; /* Adiciona 100px de espaço acima e 50px abaixo */
    max-width: 1200px; /* Define uma largura máxima */
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Garante que a posição seja relativa ao fluxo normal */
}

.background-nome {
    padding: 20px; /* Reduz o padding para melhor alinhamento */
    border-radius: 20px;
    margin: 0; /* Remove margens extras */
    width: 500px; /* Ajusta a largura automaticamente ao conteúdo */
    height: auto; /* Ajusta a altura automaticamente ao conteúdo */
    text-align: left; /* Alinha o texto à esquerda */
    background: none;
    max-width: 100%; /* Garante que os elementos não ultrapassem a largura da tela */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

.foto-circulo {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border: 5px solid white;
    border-style: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%; /* Garante que os elementos não ultrapassem a largura da tela */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

.foto-circulo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Garante que nenhum elemento ultrapasse os limites da tela */
.container, .background-nome, .foto-circulo {
    max-width: 100%; /* Garante que os elementos não ultrapassem a largura da tela */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
    font-family: Monaco, monospace;
}

.logo {
    font-size: 24px;
    color: midnightblue;
    font-weight: bold;
}
.logo span {
    color: black;
}

.nav-links {
    display: flex;
    gap: 20px; /* Espaçamento entre os links */
}

.nav-links li {
    list-style: none;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
}

.nav-links a:hover, .nav-links a.active {
    background: midnightblue;
    color: white;
}

.linkedin-icon {
    display: flex; /* Mantém alinhado com o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: auto; /* Ajusta ao conteúdo */
    height: auto; /* Ajusta ao conteúdo */
    padding: 0; /* Remove espaços extras */
    margin: 0; /* Remove margens desnecessárias */
}

.social-icons {
    display: flex;
    gap: 15px; /* Espaçamento entre os ícones */
    margin-left: 67%; /* Empurra os ícones para a extrema direita */
}

.social-icons img {
    width: 35px; /* Ajusta o tamanho dos ícones */
    height: 35px;
    object-fit: contain;
}

.social-icons img:hover {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

.techs-container {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    align-items: center;
    margin: 50px auto; /* Adiciona espaço entre a container e a techs-container */
    width: 100%;
    max-width: 1200px; /* Define uma largura máxima */
    text-align: center; /* Centraliza o conteúdo */
    position: relative; /* Garante que a posição seja relativa ao fluxo normal */
}

.techs-container ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    display: flex; /* Usa flexbox para alinhar os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Adiciona espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha, se necessário */
}

.techs-container li {
    display: inline-block; /* Exibe os itens em linha */
    margin: 10px; /* Adiciona espaçamento entre os itens */
    font-size: 18px;
    font-weight: bold;
    color: midnightblue;
}

.techs-container img {
    width: 80px; /* Ajusta o tamanho do ícone */
    height: 80px;
    object-fit: contain;
}

.techs-container .separator {
    font-size: 24px; /* Ajusta o tamanho do separador */
    font-weight: bold;
    color: midnightblue; /* Define a cor do separador */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.techs-container img:hover {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

footer{
    background-color: white; /* Define o fundo como branco */
    color: black; /* Define a cor do texto como preto */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Adiciona espaçamento interno */
    position: relative; /* Garante que a posição seja relativa ao fluxo normal */
    bottom: 0; /* Posiciona o rodapé na parte inferior da página */
    width: 100%; /* Garante que o rodapé ocupe toda a largura da tela */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
    font-family: Monaco, monospace; /* Define a fonte do rodapé */
}

/* Para telas grandes (até 1440px) */
@media (max-width: 1440px) {
    .container {
        gap: 30px; /* Aumenta o espaçamento entre os itens */
    }

    .background-nome {
        width: 600px; /* Ajusta a largura para telas grandes */
        padding: 20px; /* Mantém o padding confortável */
    }

    .foto-circulo {
        width: 350px; /* Ajusta o tamanho da foto */
        height: 350px;
    }
    .social-icons {
        margin-left: 55%; /* Ajusta a posição dos ícones para telas grandes */
    }
}

/* Para telas médias (tablets, entre 768px e 1024px) */
@media (max-width: 1024px) {
    .container {
        flex-direction: row-reverse; /* Alinha os itens horizontalmente */
        gap: 10px; /* Reduz o espaçamento entre os itens */
    }

    .background-nome {
        width: 90%; /* Ajusta a largura para caber melhor em telas menores */
    }
    .social-icons {
        margin-left: 38%; /* Ajusta a posição dos ícones para telas grandes */
    }
}

/* Para telas pequenas (smartphones, até 768px) */
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse; /* Alinha os itens verticalmente */
        display: flex;
        gap: 10px; /* Reduz o espaçamento entre os itens */
    }

    .background-nome {
        width: 95%; /* Ajusta a largura para quase preencher a tela */
        padding: 10px; /* Reduz o padding para telas menores */
    }

    .foto-circulo {
        width: 300px; /* Reduz o tamanho da foto */
        height: 300px;
    }
    .social-icons {
        margin-left: 17%; /* Ajusta a posição dos ícones para telas grandes */
    }
    .techs-container img {
        width: 50px; /* Ajusta o tamanho do ícone */
        height: 50px;
        object-fit: contain;
    }

@media (max-width: 500px) {
        .container {
            flex-direction: column-reverse; /* Alinha os itens verticalmente */
            gap: 5px; /* Reduz o espaçamento entre os itens */
        }

        .background-nome {
            width: 100%; /* Ajusta a largura para preencher a tela */
            padding: 5px; /* Reduz o padding para telas menores */
        }

        .foto-circulo {
            width: 250px; /* Reduz o tamanho da foto */
            height: 250px;
            display: none;
        }
    }
}